certifi==2021.10.8
chardet==4.0.0
charset-normalizer==2.0.12
click==8.0.4
filelock==3.6.0
Flask==1.1.2
huggingface-hub==0.4.0
idna==2.10
importlib-metadata==4.11.1
itsdangerous==2.1.0
Jinja2==3.0.3
joblib==1.1.0
jsonlines==2.0.0
MarkupSafe==2.1.0
numpy==1.20.1
packaging==21.3
pyparsing==3.0.7
PyYAML==6.0
regex==2022.1.18
requests==2.25.1
sacremoses==0.0.47
scikit-learn==0.24.1
scipy==1.7.3
six==1.16.0
threadpoolctl==3.1.0
tokenizers==0.11.5
torch==1.10.2
torchtext==0.11.2
tqdm==4.59.0
transformers==4.16.2
typing_extensions==4.1.1
urllib3==1.26.8
Werkzeug==2.0.3
zipp==3.7.0
